.thumbnail img{
    width: 100%;
    height: 80px;
    margin-top: 15px;
}
.main-product img{
   width: 70px;
   height: 200px;
}
.price {
    font-weight: bold;
}
.h4 {
    color: rgb(255, 0, 0);
}
.sticky-col {
    position: sticky;
    top: 20px;
}
.arrow-back {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
    color: black;
}
.arrow-back a{
    text-decoration: none;
    
}
